<div class="col-xs-10 col-xs-offset-1">
<h1>Contact Information</h1>
<p class="contact_text">If you would like to contact Todd Squitieri, he can be reached at the following email address:<br><br>
<a href="mailto: todd.squitieri@gmail.com">Todd.Squitieri@gmail.com</a><br><br>
Please allow for 2-3 business days for a response. Thank you very much for your understanding!</p>
</div>
