<!DOCTYPE html>
<html>
<head>
  <title>Memory</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="col-xs-3">
			THE MEMORY ARSENAL
			</div>
						<div class="col-xs-4">
						Giving you the strategies you need to assimilate content rapidly, one day at a time.
						</div>
									<div class="col-xs-5">
									<% link_to 'Contribute', '#' %>
									<% link_to 'About', '#' %>
									<% link_to 'Research', '#' %>
									</div>
	</header>

	<br class="clear" />

<%= yield %>

</body>
</html>
